<% include header.html %>

<style>
	#chat-history {
		min-height: 100px;
		background: #eee;
		margin-top: 10px;
		border-radius: 4px;
	}
	input {
		margin-top: 10px;
		margin-bottom: 10px;
	}
</style>

<div class="container">
	<div id="chat-history">

	</div>
	<form action="javascript:send()">
		<input id="message"
			class="form-control"
			autofocus
			placeholder="Message">
		<button type="submit" class="btn btn-primary">
			Send
		</button>
		<a href="javascript:shareLocation()"
			class='btn btn-success'>Share Location</a>
	</form>
</div>
<script src="/jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
var socket = io.connect("/");
var temp = document.cookie + ';';
var position = temp.indexOf('session=');
var semicolon = temp.indexOf(';', position);
var session = temp.substring(position + 8, semicolon);

socket.send({action:'join', session: session});

socket.on("message", showMessage);

function showMessage(o) {
	var message = "";
	message += "<b>" + o.user + "</b> ";
	message += o.data + "<br>";
	$('#chat-history').append(message);
}

function send() {
	var o = {}
	o.action = 'text';
	o.data = $('#message').val();
	o.session = session;
	socket.send(o);
	$('#message').val("");
}

function shareLocation() {
}
</script>


<% include footer.html %>